<!DOCTYPE html>
<html lang="en">
<head>
   <style>
       .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 26px 64px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    body {background-color : powderblue;}
   </style>
</head>
<body>
<label style="font-size:20px" > Alter the Organization name : </label>
<a href="/Organizations/Update/Name">
    <button class ="button"> Alter name </button>
<br>
</a>
<label style="font-size:20px" > Alter the Organization's location : </label>
<a href = "/Organizations/Update/Location">
    <button class ="button"> Alter Location </button>
</a>
</body>
</html>