<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body {background-color : powderblue;}
    </style>
</head>
<body>
<form name= 'DeliverablesForm'action="http://localhost:3000/Projects/Insert/Stage_1" method="post">
    <label style="font-size: 20px"> Type number of deliverables for your project (No deliverables = fill blank with '1' and set delivery date = project's due date ) : </label>
    <input type = "text" name = "user_del_number" value = ''>
    <input type="submit" name = "submit">
</form>
</body>
</html>