<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 26px 64px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    body {background-color : powderblue;}
   </style>
</head>
<body>
<a href="/ShowAllProjects">
    <button class ="button"> All Projects </button>
<br>
</a>
<label style="font-size:20px" > Alter the start date and due date of inserted project : </label>
<a href = "/Projects/Update/Alter_Dates">
    <button class ="button"> Alter dates </button>
</a>
<br>
<label style="font-size:20px" > Alter the executive that funds the project : </label>
<a href = "/Projects/Update/Executive">
    <button class ="button"> Alter Executive </button>
</a>
</body>
</html>