<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 26px 64px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    body {background-color : powderblue;}
   </style>
</head>
<body>
<a href="/ShowAllResearchers">
    <button class ="button"> All Researchers </button>
<br>
</a>
<label style="font-size:20px" >Choose a project for a researcher to work for : </label>
<a href = "/Researchers/Update/Project">
    <button class ="button"> Add Project to Researcher </button>
</a>
<a href="/ShowAllProjects">
    <button class ="button"> All Projects </button>
</a>
<br>
<label style="font-size:20px" > Alter the name of researcher : </label>
<a href = "/Researchers/Update/Name">
    <button class ="button"> Alter name </button>
</a>
</body>
</html>