<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {background-color : powderblue}
table, th, td {
border:1px solid black;
}
.button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 26px 64px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
</head>
<body>
<form name= 'DeleteForm'action="http://localhost:3000/Researchers/Delete" method="post">
    <label  style="font-size: 20px"> Type the researcher_id of the Researcher you like to delete : </label>
    <br>
    <label  style="font-size: 28px"> Caution ! You can' t delete a researcher who is either a scientific advisor or an evaluator or the single worker of a project </label>
    <input type = "text" name ="user_researcher_id" value = '' required>
    <br>
    <input type="submit" name="submit">
</form>
<a href = "/ShowAllResearchers">
    <button class = "button"> See Researchers </button>
</a>
</body>
</html>