<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {background-color : powderblue}
table, th, td {
border:1px solid black;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>
<h2> Choose between the 2 views
The first one being projects-per-researcher and the second one being projects-per-organization </h2>
<body>
<a href = "/Second_Question/MENU/Proj_per_Res">
        <button class="button"> 1st View </button>
</a>
<a href = "/Second_Question/MENU/Proj_per_Org">
        <button class="button"> 2nd View </button>
</a>
</body>
</html>