<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {background-color : powderblue}
table, th, td {
border:1px solid black;
}
</style>
</head>
<h2> Projects concerning the previously selected scientific field with field_id = {{FIELD}} </h2>
<body>
{% if projects|length == 0 %}
<h3> No available projects found .... </h3>
{% else %}
<table class = "Projects_table" style="width:100%">
        <thead>
            <tr>
                <th> project_id </th>
                <th> Project title </th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td> {{project.project_id}} </td>
                    <td> {{project.title}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</body>
</html>